

.box1{
    height: 55vh;
    /*width: cals(100%-50px);*/
    
    /*padding: 5px;
    margin: 5px;
    border: 5px solid black;
    background-color: rgba(20, 20, 20, 0.9);*/
    
    background-image: url("image9.jpg");
    background-position: center;
    background-size:cover;
    
}

.box2{
    height: 40%;
    width: 70%;
    /*padding: 5px;
    margin: 5px;
    border: 5px solid black;
    background-color: red;*/
    
    position:relative;
    top:50px;
    left:0;
    bottom:0;
    right:0;
    margin:1% auto;
    
    text-align: center;
    background-color: rgba(20, 20, 20, 0.05)
}
.box3{
    height: 30vh;
    width: cals(100%-50px);
    /*padding: 5px;
    margin: 5px;
    border: 5px solid black;
    background-color: rgba(20, 20, 20, 0.9);*/
    
    background-image: url("image10.jpg");
    background-position: center;
    background-size:cover;
}
.box4{
    height: 40%;
    width: 40%;
    /*padding: 5px;
    margin: 5px;
    border: 5px solid black;
    background-color: red;*/
    
    position:relative;
    top:50px;
    left:0;
    bottom:0;
    right:0;
    margin:1% auto;
    
    text-align: center;
    background-color: rgba(20, 20, 20, 0.1)
}
.box5{
    height: auto;
    width: 80%;
    padding: 5px;
    /*margin: 5px;*/
    border: 5px /*solid black*/;
    background-color: red;
    
    position:relative;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:5% auto;
    
    text-align: center;
    background-color: rgba(20, 20, 20, 0.05)
}
.font1{
    font-family: 'Baloo Chettan', cursive;
    font-size:0.9rem;
    color:rgba(240, 240, 240, 1.0);
}
.font2{
    font-family: 'Baloo Chettan', cursive;
    font-size:1.7rem;
    color:rgba(240, 240, 240, 1.0);
}
.font3{
    font-family: 'Baloo Chettan', cursive;
    font-size:2.0rem;
    color:rgba(240, 240, 240, 1.0);
}
.font4{
    font-family: 'Gamja Flower', cursive;
    font-size:1rem;
    color:rgba(0, 0, 0, 1.0);
    
    text-align: center;
}
.font5{
    font-family: 'Gamja Flower', cursive;
    font-size:1.3rem;
    color:rgba(0, 0, 0, 1);
    
    text-align: center;
}


@media (max-width: 500px){
    .box1{
    height: 300px;
    width: 320px;
    /*padding: 5px;
    margin: 5px;
    border: 5px solid red;
    background-color: rgba(20, 20, 20, 0.9);*/
    
    background-image: url("image9.jpg");
    background-position: center;
    /*background-size:cover;*/
    
    position:relative;
    top:0;
    left:0;
    bottom:0;
    right:0;
    
    margin:5% auto;
    }
    .box3{
    height: 200px;
    width: 320px;
    
    /*padding: 5px;
    margin: 5px;
    border: 5px solid black;
    background-color: rgba(20, 20, 20, 0.9);*/
    
    background-image: url("image10.jpg");
    background-position: center;
    /*background-size:cover;*/
    
    position:relative;
    top:0;
    left:0;
    bottom:0;
    right:0;
    
    margin:5% auto;
    }
}
}